# These files are text and should be normalized (convert crlf > lf)
*.cs      text diff=csharp
*.cpp     text
*.h       text
*.xaml    text
*.resx    text
*.csproj  text
*.vcxproj text
*.vcxproj.filters text
*.config  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

# Text files to leave line endings unchanged.
SConscript* -text
SConstruct* -text
*.py -text
*.uvoptx -text
*.uvprojx -text
CMakeLists.txt -text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary

*.sdf     binary
